<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PraiseTheSave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PraiseTheSave.Properties.Settings>
            <setting name="SaveLocation" serializeAs="String">
                <value>C:\PraiseTheSave\</value>
            </setting>
            <setting name="SaveInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LastDS3Change" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDS2Change" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDS1Change" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveAmount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ds3location" serializeAs="String">
                <value />
            </setting>
            <setting name="ds2location" serializeAs="String">
                <value />
            </setting>
            <setting name="ds1location" serializeAs="String">
                <value />
            </setting>
            <setting name="AutomaticBackups" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastDS1RChange" serializeAs="String">
                <value />
            </setting>
            <setting name="ds1Rlocation" serializeAs="String">
                <value />
            </setting>
        </PraiseTheSave.Properties.Settings>
    </userSettings>
</configuration>